
body{
  background: grey;
}
ul{
  margin: 100px;
  list-style: none;
}
li{
  background: green;
  position: relative;
  width: 200px;
  margin: 10px 0;
  padding: 10px;
  color: black;
  border: 2px solid black;
  border-radius: 5px;
}
